.footer {
    background-color: aquamarine;
    border-top: 1px solid #6a6a6a;
    padding: 15px 10px 40px 10px;
    text-align: center;
}

.footer label {
    color: blue;
    text-decoration: underline;
    text-align: center;
}